.paymentDescription {
  float: left;
  padding: 20px 40px;
  width: calc(60% - 80px);
}
.paymentDescription .paymentDescriptionEntry {
  padding-bottom: 10px;
}
.paymentDescription .paymentDescriptionEntry .paymentDescriptionEntryTitle {
  font-size: 14px;
}
