.paymentCompleted {
  text-align: center;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
}
.paymentCompleted .paymentCompletedIcon {
  padding: 40px;
  background-color: #555;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #000;
}
.paymentCompleted .paymentCompletedIcon img {
  width: 50px;
}
.paymentCompleted .paymentCompletedTitle {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}
.paymentCompleted .paymentCompletedDescription {
  color: #999;
  width: 70%;
  margin: auto;
  padding-bottom: 20px;
  font-size: 16px;
}
.paymentReceipt .paymentReceiptLeft {
  float: left;
  width: 50%;
  padding: 15px 50px;
}
.paymentReceipt .paymentReceiptRight {
  float: left;
  width: 50%;
}
.paymentReceipt .paymentReceiptEntry {
  padding-bottom: 15px;
}
.paymentReceipt .paymentReceiptEntry .paymentReceiptEntryDisclaimer {
  font-size: 12px;
  font-style: italic;
  color: #888;
}
.paymentReceipt .paymentReceiptEntry .paymentReceiptEntryTitle {
  font-weight: bold;
  color: #999;
}
.paymentReceipt .paymentReceiptEntry .paymentReceiptEntryTransactionNum {
  font-size: 20px;
  font-weight: bold;
  color: #ed8b35;
  opacity: 0.6;
  word-break: break-all;
}
.paymentReceipt .paymentReceiptEntry .paymentReceiptEntryTransactionNum .paymentReceiptEntryTransactionNumHash {
  float: left;
  width: calc(100% - 50px);
  word-break: break-all;
}
.paymentReceipt .paymentReceiptEntry .paymentReceiptEntryTransactionNum .paymentReceiptEntryTransactionNumLink {
  float: right;
  width: 50px;
  text-align: right;
}
.paymentReceipt .paymentReceiptEntry .paymentReceiptEntryTransactionNumKey {
  opacity: 1;
}
.paymentReceipt .paymentReceiptFooter {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #000;
  text-align: center;
}
