.indexIntro
  padding 20px 40px
  width calc(60% - 80px)
  margin auto
  text-align center

  .indexIntroSubtitle
    font-weight bold
    font-size 16px
    padding-bottom 20px

  .indexIntroLogo
    img
      width 180px

.indexInvoiceCheck
  width calc(60% - 80px)
  margin auto

  .indexInvoiceCheckTitle
    font-weight bold
    font-size 16px
    padding-bottom 15px

.indexInvoiceResult
  width calc(60% - 80px)
  margin auto
  background-color white
  padding 15px 20px

  .indexInvoiceResultEntry
    padding-bottom 15px

    .indexInvoiceResultTitle
      font-weight bold
      font-size 12px

    .indexInvoiceResultAnswer
      font-size 20px
      word-wrap break-word
      color #888
