.paymentCountdown
  float left
  padding 20px 30px
  width calc(25% - 0px)

  .countdownLoader
    text-align center
    margin-top 90px

    .countdownLoaderIcon
      padding 15px

    .countdownLoaderText
      font-size 16px

  .countdownTimer
    text-align center
    margin-top 40px

  .countdownTimerEntry
    .countdownTimerEntryCheck
      .countdownTimerEntryCheckExplorers
        padding-top 20px

        .countdownTimerEntryCheckExplorer
          float left
          padding 10px 5px
          width 50%

          .countdownTimerEntryCheckExplorerTitle
            font-weight bold
            padding-top 10px

          .countdownTimerEntryCheckExplorerSelector
            border 2px solid #DDD
            width 65px
            height 40px
            margin auto

            img
              width 32px
