.paymentInvoiceFooter
  padding 0px 110px
  min-width 540px
  max-width 1200px
  margin auto
  overflow auto

  .paymentInvoiceFooterCreated
    color #BBB
    font-size 11px

  .paymentInvoiceFooterButton
    float left
    padding 10px 0px

@media screen and (max-width: 720px)
  .paymentInvoiceFooter
    padding 0px
    min-width 100%
    max-width 100%
    margin auto
    text-align center

    .paymentInvoiceFooterButton
      float none
      width 200px
      margin auto
      text-align center
